@page
@inject IViewLocalizer Localizer
@model WoWning.Areas.Landingpage.Pages.Specific.Characters.CreateModel

@{
    ViewData["Title"] = Localizer["Create"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Create"]</h1>

<h4>@Localizer["Character"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Character.Server" class="control-label"></label>
                <select asp-for="Character.Server" class="form-control">
                    <option disabled selected>@Localizer["Select an option"]</option>
                    <option value="1">Molten Core</option>
                    <option value="2">Winterspring</option>
                    <option value="3">Gadzet</option>
                    <option value="4">Kazaak</option>
                </select>
                <span asp-validation-for="Character.Server" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Side" class="control-label"></label>
                <select asp-for="Character.Side" class="form-control">
                    <option disabled selected>@Localizer["Select an option"]</option>
                    <option value="1">@Localizer["Horde"]</option>
                    <option value="2">@Localizer["Alliance"]</option>
                </select>
                <span asp-validation-for="Character.Side" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Name" class="control-label"></label>
                <input asp-for="Character.Name" class="form-control" />
                <span asp-validation-for="Character.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="leather" class="form-check-input" asp-for="Character.IsLeather" /> @Html.DisplayNameFor(model => model.Character.IsLeather)
                </label>
                <ul class="nolisting">
                    <li>
                        <label class="form-check-label">
                            <input class="form-check-input subOptionLeather" asp-for="Character.IsTribal" /> @Html.DisplayNameFor(model => model.Character.IsTribal)
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input class="form-check-input subOptionLeather" asp-for="Character.IsDragonscale" /> @Html.DisplayNameFor(model => model.Character.IsDragonscale)
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input class="form-check-input subOptionLeather" asp-for="Character.IsElemental" /> @Html.DisplayNameFor(model => model.Character.IsElemental)
                        </label>
                    </li>
                </ul>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="engineer" class="form-check-input" asp-for="Character.IsEngineer" /> @Html.DisplayNameFor(model => model.Character.IsEngineer)
                </label>
                <ul class="nolisting">
                    <li>
                        <label class="form-check-label">
                            <input class="form-check-input subOptionEngineer" asp-for="Character.IsGoblin" /> @Html.DisplayNameFor(model => model.Character.IsGoblin)
                        </label>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input class="form-check-input subOptionEngineer" asp-for="Character.IsGnomish" /> @Html.DisplayNameFor(model => model.Character.IsGnomish)
                        </label>
                    </li>
                </ul>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="blacksmith" class="form-check-input" asp-for="Character.IsBlacksmith" /> @Html.DisplayNameFor(model => model.Character.IsBlacksmith)
                </label>
                <ul class="nolisting">
                    <li>
                        <label class="form-check-label">
                            <input id="weaponsmith" class="form-check-input subOptionBlacksmith" asp-for="Character.IsWeaponsmith" /> @Html.DisplayNameFor(model => model.Character.IsWeaponsmith)
                        </label>
                        <ul class="nolisting">
                            <li>
                                <label class="form-check-label">
                                    <input class="form-check-input subOptionWeaponsmith" asp-for="Character.IsSwordsmith" /> @Html.DisplayNameFor(model => model.Character.IsSwordsmith)
                                </label>
                            </li>
                            <li>
                                <label class="form-check-label">
                                    <input class="form-check-input subOptionWeaponsmith" asp-for="Character.IsAxesmith" /> @Html.DisplayNameFor(model => model.Character.IsAxesmith)
                                </label>
                            </li>
                            <li>
                                <label class="form-check-label">
                                    <input class="form-check-input subOptionWeaponsmith" asp-for="Character.IsMacesmith" /> @Html.DisplayNameFor(model => model.Character.IsMacesmith)
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label class="form-check-label">
                            <input id="armorsmith" class="form-check-input subOptionBlacksmith" asp-for="Character.IsArmorsmith" /> @Html.DisplayNameFor(model => model.Character.IsArmorsmith)
                        </label>
                    </li>
                </ul>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Character.IsEnchanter" /> @Html.DisplayNameFor(model => model.Character.IsEnchanter)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Character.IsAlchemist" /> @Html.DisplayNameFor(model => model.Character.IsAlchemist)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Character.IsTailor" /> @Html.DisplayNameFor(model => model.Character.IsTailor)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Character.IsCook" /> @Html.DisplayNameFor(model => model.Character.IsCook)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Character.IsFirstAid" /> @Html.DisplayNameFor(model => model.Character.IsFirstAid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        var checkboxesLeather = document.querySelectorAll('input.subOptionLeather');
        var checkboxesEngineer = document.querySelectorAll('input.subOptionEngineer');
        var checkboxesBlacksmith = document.querySelectorAll('input.subOptionBlacksmith');
        var checkboxesWeaponsmith = document.querySelectorAll('input.subOptionWeaponsmith');
        var checkallLeather = document.getElementById('leather');
        var checkallEngineer = document.getElementById('engineer');
        var checkallBlacksmith = document.getElementById('blacksmith');
        var checkallWeaponsmith = document.getElementById('weaponsmith');
        var checkallArmorsmith = document.getElementById('armorsmith');

        for (var i = 0; i < checkboxesLeather.length; i++) {
            checkboxesLeather[i].onclick = function () {
                if (this.checked) {
                    for (var i = 0; i < checkboxesLeather.length; i++) {
                        checkboxesLeather[i].checked = false;
                    }
                    this.checked = true;
                    checkallLeather.checked = true;
                }
            }
        }
        for (var i = 0; i < checkboxesEngineer.length; i++) {
            checkboxesEngineer[i].onclick = function () {
                if (this.checked) {
                    for (var i = 0; i < checkboxesEngineer.length; i++) {
                        checkboxesEngineer[i].checked = false;
                    }
                    this.checked = true;
                    checkallEngineer.checked = true;
                }
            }
        }
        for (var i = 0; i < checkboxesWeaponsmith.length; i++) {
            checkboxesWeaponsmith[i].onclick = function () {
                if (this.checked) {
                    for (var i = 0; i < checkboxesWeaponsmith.length; i++) {
                        checkboxesWeaponsmith[i].checked = false;
                    }
                    this.checked = true;
                    checkallWeaponsmith.checked = true;
                    checkallBlacksmith.checked = true;

                    for (var i = 0; i < checkboxesBlacksmith.length; i++) {
                        checkboxesBlacksmith[i].checked = false;
                    }
                    checkallWeaponsmith.checked = true;
                }
            }
        }

        checkallArmorsmith.onclick = function () {
            if (this.checked) {
                for (var i = 0; i < checkboxesBlacksmith.length; i++) {
                    checkboxesBlacksmith[i].checked = false;
                }
                for (var i = 0; i < checkboxesWeaponsmith.length; i++) {
                    checkboxesWeaponsmith[i].checked = false;
                }
                this.checked = true;
                checkallBlacksmith.checked = true;
            }
        }

        checkallLeather.onclick = function () {
            if (!this.checked) {
                for (var i = 0; i < checkboxesLeather.length; i++) {
                    checkboxesLeather[i].checked = false;
                }
            }
        }

        checkallEngineer.onclick = function () {
            if (!this.checked) {
                for (var i = 0; i < checkboxesEngineer.length; i++) {
                    checkboxesEngineer[i].checked = false;
                }
            }
        }

        checkallBlacksmith.onclick = function () {
            if (!this.checked) {
                for (var i = 0; i < checkboxesBlacksmith.length; i++) {
                    checkboxesBlacksmith[i].checked = false;
                }

                for (var i = 0; i < checkboxesWeaponsmith.length; i++) {
                    checkboxesWeaponsmith[i].checked = false;
                }
            }
        }

        checkallWeaponsmith.onclick = function () {
            if (!this.checked) {
                for (var i = 0; i < checkboxesWeaponsmith.length; i++) {
                    checkboxesWeaponsmith[i].checked = false;
                }
            }
            if (this.checked) {
                for (var i = 0; i < checkboxesBlacksmith.length; i++) {
                    checkboxesBlacksmith[i].checked = false;
                }
                this.checked = true;
                checkallBlacksmith.checked = true;
            }
        }
    </script>
}