@page
@inject IViewLocalizer Localizer
@model WoWning.Areas.Landingpage.Pages.Specific.RecipesModel

@{
    ViewData["Title"] = Localizer["Set Recipes"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Set Recipes"]</h1>
<hr />
<form method="get">
    <div class="form-group col-md-4">
        <label class="control-label">@Localizer["Character"]</label>
        <select onchange="this.form.submit()" name="character" asp-for="Character" class="form-control" asp-items="Model.Options">
            <option disabled selected>@Localizer["Select an option"]</option>
        </select>
    </div>
    @if (!string.IsNullOrEmpty(Model.Character))
    {
        <div class="form-group col-md-4">
            <label class="control-label">@Localizer["Profession"]</label>
            <select onchange="this.form.submit()" name="profession" asp-for="Profession" class="form-control" asp-items="Model.OptionsProfessions">
                <option disabled selected>@Localizer["Select an option"]</option>
            </select>
        </div>
        @if (!string.IsNullOrEmpty(Model.Profession))
        {
            <hr />
            <div class="form-actions no-color">
                <p>
                    @Localizer["Find by name:"]
                    <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                    <input type="submit" value="@Localizer["Search"]" class="btn btn-default" /> |
                    <a asp-page="./Recipes" asp-route-character="@Model.Character" asp-route-profession="@Model.Profession">@Localizer["Back to full List"]</a>
                </p>
            </div>
        }
    }
</form>
@if (!string.IsNullOrEmpty(Model.Character) && !string.IsNullOrEmpty(Model.Profession))
{
    <form method="post">
        <div class="form-group">
            <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="col-md" style="max-width:30%">@Localizer["Expected Tip"]</th>
                    <th>
                        <a asp-route-character="@Model.Character" asp-route-profession="@Model.Profession" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Recipes[0].Name)
                        </a>
                    </th>
                    <th>
                        <a asp-route-character="@Model.Character" asp-route-profession="@Model.Profession" asp-route-sortOrder="@Model.LevelSort" asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.Recipes[0].Level)
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Recipes.Count(); i++)
                {
                <tr>
                    <td>
                        <input type="hidden" asp-for="Recipes[i].Id" />
                        <input asp-for="Recipes[i].IsSelected" />
                    </td>
                    <td class="col-md" style="max-width:30%">
                        <input asp-for="Recipes[i].Gold" min="0" class="col-md-3" style="padding-left:10px;padding-right: 10px"/>
                        <img src="~/img/gold.png" />
                        <input asp-for="Recipes[i].Copper" max="99" min="0" class="col-md-3" style="padding-left:10px;padding-right: 10px"/>
                        <img src="~/img/silver.png" />
                        <input asp-for="Recipes[i].Silver" max="99" min="0" class="col-md-3" style="padding-left:10px;padding-right: 10px"/>
                        <img src="~/img/copper.png" />
                    </td>
                    <td>
                        <a href="#" data-wowhead="spell=@Model.Recipes[i].Id&amp;domain=@Model.WoWHeadDomain">@Model.Recipes[i].TransName</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Recipes[i].Level)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </form>
}